#@ load("@ytt:data", "data")
#@ load("@ytt:base64", "base64")
#@ load("@ytt:json", "json")

---
apiVersion: v1
kind: Secret
metadata:
  name: workload-git-auth
  namespace: tap-install
type: kubernetes.io/basic-auth
stringData:
  username: #@ data.values.tapGithubAuthUsername 
  password: #@ data.values.tapGithubAuthToken 
  #@ if data.values.customCaCertsProvided:
  caFile: 
    #@ 'ca_cert_data: |' 
      #@ data.values.caCerts
  #@ end